@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
} 

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #110d26;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  min-height: 100vh;
  width: min(100%, 1400px);
  margin: auto;
}

.section-container {
  margin-top: 200px;
  margin-bottom: 200px;
}

.heading-container {
  margin-top: 180px;
  margin-bottom: 200px;
}

.contact {
  margin-top: 200px;
  margin-bottom: 350px;
}

h1, h2, h4 {
  font-family: 'Unbounded';
}

h3 {
  color: #a8a4be;
}

p {
  color: #a8a4be;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: .5s;
}

a:hover {
  color: #9056EB;
}

.link-underline:after {
  position: absolute;
  content: '';
  height: 1px;
	/* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px; 
  margin: 0 auto;
	left: 0;
  right: 0;
	width: 100%;
	background: white;
  transition: .5s;
}

.link-underline:hover:after {
  width: 0%;
}

.navbar {
  margin-bottom: 100px;
  background: #110d26;
  border-bottom: 1px solid #201d35;
}

.logo {
  width: 50vw;
  margin-left: 20px;
  font-family: 'Unbounded';
  text-transform: uppercase;
}

.nav-links {
  width: 50vw;
  text-align: end;
  margin-right: 10px;
}

.nav-link {
  margin: 10px;
  font-size: 15px;
}

.sidebar-container {
  background: #110D26;
}

.contact-link {
  font-family: 'Unbounded';
}

.section {
  scroll-margin-top: 100px;
}

.active {
  color: white;
  margin: 10px;
  font-size: 15px;
  position: relative;
  text-decoration: none;
}

.active:after {
  content: '';
  background: white;
  height: 2px;
  position: absolute;
  bottom: -4px;
  margin: 0 auto;
	left: 0;
  right: 0;
	width: 100%;
}

.footer {
  border-top: 1px solid #201d35;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 1100px) {
  .section-container {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .heading-container {
    margin-top: 200px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 70px;
  }
}

