@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
} 

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #110d26;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  min-height: 100vh;
  width: min(100%, 1320px);
  margin: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: min(100%, 1320px);
  margin: auto;
}

.contact {
  margin-bottom: 270px;
}

h1 {
  font-family: 'Inter Tight', sans-serif;
  color: #a8a4be;
}

h4 {
  color: #a8a4be;
}

p {
  color: #a8a4be;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: .5s;
}

a:hover {
  color: #9056EB;
}

.arrowAnimate {
  transition: transform 0.3s ease;
  transform: rotate(-45deg);
}

.link-underline:hover .arrowAnimate {
  transform: rotate(0deg);
}

.project:hover .arrowAnimate {
  transform: rotate(0deg);
}

.link-underline:after {
  position: absolute;
  content: '';
  height: 1px;
  bottom: -4px; 
  margin: 0 auto;
	left: 0;
  right: 0;
	width: 100%;
	background: white;
  transition: .5s;
}

.link-underline:hover:after {
  width: 0%;
}

.navbar {
  margin-bottom: 100px;
  background: #110d26;
  border-bottom: 1px solid #343053;
}

.nav-links {
  width: 50vw;
  text-align: end;
  margin-right: 10px;
}

.nav-link {
  margin: 10px;
  font-size: 15px;
}

.sidebar-container {
  background: #110D26;
}

.contact-link {
  font-family: 'Manrope';
}

.footer {
  border-top: 1px solid #343053;
  background: #110d26;
  color: #a8a4be;
}

.footer a {
  color: #fff
}

.section-button {
  border: solid #a8a4be 1px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 1100px) {
  .section-container {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
