@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #110D26;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: min(100%, 1400px);
  margin: auto;
}

.section-container {
  margin-top: 200px;
  margin-bottom: 200px;
}

h1 {
  font-family: 'Unbounded';
  font-size: 100px;
  line-height: 100px;
}

h2, h3 {
  font-family: 'Unbounded';
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: .5s;
}

a:hover {
  color: #9056EB;
}

.link-underline:after {
  position: absolute;
  content: '';
  height: 1px;
	/* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px; 
  margin: 0 auto;
	left: 0;
  right: 0;
	width: 100%;
	background: white;
  transition: .5s;
}

.link-underline:hover:after {
  width: 0%;
}

.logo {
  width: 50vw;
  margin-left: 20px;
  font-family: 'Unbounded';
  text-transform: uppercase;
}

.nav-links {
  width: 50vw;
  text-align: end;
  margin-right: 10px;
}

.nav-link {
  margin: 10px;
  font-size: 15px;
}

.sidebar-container {
  background: #110D26;
}

.socials {
  display: flex;
  column-gap: 10px;
}

.socials a:hover {
  color: white;
}

.social-icon {
  border-radius: 50%;
  outline: solid 1px #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: ease-in-out .3s;
}

.social-icon:hover {
  opacity: 1;
}

.contact-link {
  font-family: 'Unbounded';
}

.circle {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle at 50% 50%, rgba(45, 13, 95, 1) 0%, rgba(0, 188, 212, 0) 75%, rgba(238, 130, 238, 0) 100%);
  top: -200px;
  left: -150px;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 75px;
    line-height: 80px;
  }

  .section-container {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 55px;
    line-height: 80px;
  }
}

